.bg1{
    background-color: #B6E7FE;
}

.bg2{
    background-color: #407AFE;
}

.wz-500{
    width: 500px;
}
.hz-300{
    height: 300px;
}

.hz-60{
    height: 60px;
}
.hz-120{
    height: 120px;
}
.hz-90{
    height: 90px;
}
